{% extends 'users/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary scrolling-navbar" id="nbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"> <strong class="mr-4 brand">Updates Mtaani</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
</nav>
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100 mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row"
                        style="background-color: #33B5E5; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="{{user.profile.p_photo.url}}" alt="Generic placeholder image"
                                class="img-fluid img-thumbnail mb-2" style="width: 150px; z-index: 1">

                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{user.username}}</h5>
                            <p>{{user.profile.location}}</p>
                        </div>
                    </div>

                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-between text-center py-1">
                            <a href="{% url 'profile'%}">
                                <i class="bi bi-pencil-square"></i>
                                <p>Edit Profile</p>
                            </a>
                            </a>
                            <a href="/">
                                <button class="btn profile-settings-btn" aria-label="profile settings"><i
                                        class="fa-solid fa-house" aria-hidden="true"> Home</i></button>
                            </a>

                            <a href="#" class="link-primary mt-3">{{user.email}}</a>

                        <div>
                                <p class="m-b-10 f-w-600 text-primary">Neighbourhood</p>
                                <h6 class="text-muted f-w-400">{{user.profile.neighbourhood}}</h6>
                            </div>



                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">Bio</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">{{user.profile.bio}}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Recent posts</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>
                        {% for post in posts %}
                        {% if user.id == post.user.id %}
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'project' post%}">
                                    <img src="{{post.photo.url}}" alt="image 1" class="w-100 rounded-3">
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>


                    <table class="table table-sm mt-5 mb-5">
                        <h4> Posts </h4>
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Post</th>
                                <th scope="col">Mtaa</th>
                                <th scope="col">Created</th>
                                <th scope="col">Updated</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Mark</td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="button" class="btn btn-info mb-5">Add Post</button>

                    <table class="table table-sm mb-5 mt-5">
                        <h4> Businesses </h4>
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">email</th>
                                <th scope="col">Owner</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>

                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-info">Add Business</button>

                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">

</div>
<!-- End of container -->

{% endblock%}