{% extends 'users/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary scrolling-navbar" id="nbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"> <strong class="mr-4 brand">Updates Mtaani</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline" method="get" action="">
                        {% csrf_token %}
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search Business" name="title"
                                aria-label="Search">
                        </div>
                    </form>
                </li>
                <li>
                    <a class="nav-link text-light" href="{% url 'index' %}">Posts</a>
                    <a class="nav-link text-light" href="{% url 'index' %}">Business</a>
                    <a class="nav-link text-light" href="{% url 'index' %}">Contacts</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right">
                {% comment %} {% if user.is_authenticated%} {% endcomment %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{ user.username|title }} <img class="rounded-circle nav-img"
                                                                            src="{{user.profile.p_photo.url }}"
                                                                            alt="" width="30">
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-center" href="{% url 'users-profile' %}">Profile</a>
                        <hr>
                        <a class="dropdown-item text-center" href="{% url 'profile'%}"> Edit profile</a>
                        <hr>
                        <a href="" class="text-secondary text-center dropdown-item">Log Out</a>


                    </div>
                </li>
                {% comment %} {% else %} {% endcomment %}

                <a href="" class="login btn btn-sm btn-info"> REGISTER/LOGIN </a>
                {% comment %} {% endif %} {% endcomment %}
            </ul>
        </div>
    </div>
</nav>
</nav>
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100 mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row"
                        style="background-color: #33B5E5; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="{{user.profile.p_photo.url}}" alt="Generic placeholder image"
                                class="img-fluid img-thumbnail mb-2" style="width: 150px; z-index: 1">

                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{user.username}}</h5>
                            <p>{{user.profile.location}}</p>
                        </div>
                    </div>

                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-between text-center py-1">
                            <a href="{% url 'profile'%}">
                                <i class="bi bi-pencil-square"></i>
                                <p>Edit Profile</p>
                            </a>
                            </a>
                            <a href="/">
                                <button class="btn profile-settings-btn" aria-label="profile settings"><i
                                        class="fa-solid fa-house" aria-hidden="true"> Home</i></button>
                            </a>

                            <a href="#" class="link-primary mt-3">{{user.email}}</a>

                            <div>
                                <p class="m-b-10 f-w-600 text-primary mt-3">Neighbourhood</p>
                                <h6 class="text-muted f-w-400">{{user.profile.neighbourhood}}</h6>
                            </div>



                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">Bio</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">{{user.profile.bio}}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Recent posts</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>
                        <div class="row">
                            {% for post in posts %}
                            {% if user.id == post.id %}
                            <div class="col">

                                <div class="card" style="width: 18rem;">
                                    <img src="{{post.photo.url}}" alt="class=" card-img-top" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">{{post.title}}</h5>
                                        <p class="card-text">{{post.post}}</p>
                                        <p>{{post.created_on}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">

</div>
<!-- End of container -->

{% endblock %}