{% extends 'base.html'%}
{% load bootstrap5 %}
{% load static%}
{%block content%}

{% for business in object_list %}
<div style="margin-top:100px;" class="container d-flex justify-content-center">
  <div class="card bg-light" style="max-width: 18rem;">
    <div class="card-header">{{business.name}}</div>
    <div class="card-body">
      <p class="card-title text-muted">Contact: {{business.email}}</p>
      <p class="card-text text-muted"> Business Owner: {{business.user}}</p>
      <p class="card-text text-muted">Location: {{business.neighbourhood}}</p>
    </div>
  </div>
</div>

{% comment %} <div class="col-sm-5">
  <img class="d-block w-100"
    src="https://user-images.githubusercontent.com/66039545/174473778-9c21017d-6a0d-4ec7-9a0c-1bfde4982f60.jpg" alt=""
    width="200" height="200" />
</div> {% endcomment %}
</div>
</div>
{% endfor %}
{% endblock %}