{% extends 'base.html'%}
{% load bootstrap5 %}
{% load static%}
{%block content%}

<div class="container-fluid">
       <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-indicators">
                     <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                     <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                     <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                     <div class="carousel-item active" data-bs-interval="1000">
                            <img style="filter: brightness(50%); background-size: cover;"
                                   src="https://user-images.githubusercontent.com/66039545/174454428-252e84c2-4c43-45d0-bd7f-4feff181b0fc.jpg"
                                   class="d-block w-100 h-50vh" alt="...">
                            <div style="font-size:36px; margin-bottom:50%;"
                                   class="carousel-caption d-none d-md-block text-info">
                                   <h5 style="font-size:36px;">Welcome to Updates Mtaani</h5>
                                   <p>Your onestop updates for your neighbourhood.</p>
                                   <a href="#hood">
                                          <button class="btn btn-info btn-sm">
                                                 Join Neighbourhood
                                          </button>
                                   </a>
                            </div>
                     </div>
                     <div class="carousel-item">
                            <img style="filter: brightness(50%);"
                                   src="https://user-images.githubusercontent.com/66039545/174454293-f8e3709b-6cb9-4baf-9e06-1e5ed7701fda.jpg"
                                   class="d-block w-100" alt="...">
                            <div style="font-size:36px; margin-bottom:40%;"
                                   class="carousel-caption d-none d-md-block text-info">
                                   <h5 style="font-size:36px;">Welcome to Updates Mtaani</h5>
                                   <p>Your onestop updates for your neighbourhood.</p>
                                   <a href="#hood">
                                          <button class="btn btn-info btn-sm">
                                                 Join Neighbourhood
                                          </button>
                                   </a>
                            </div>
                     </div>
                     <div class="carousel-item">
                            <img style="filter: brightness(50%);"
                                   src="https://user-images.githubusercontent.com/66039545/174454417-3c909297-4e2a-4642-bf49-b61768a5b869.jpg"
                                   class="d-block w-100" alt="...">
                            <div style="font-size:36px; margin-bottom:4 0%;"
                                   class="carousel-caption d-none d-md-block text-info">
                                   <h5 style="font-size:36px;">Welcome to Updates Mtaani</h5>
                                   <p>Your onestop updates for your neighbourhood.</p>
                                   <a href="#hood">
                                          <button class="btn btn-info btn-sm">
                                                 Join Neighbourhood
                                          </button>
                                   </a>
                            </div>
                     </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                     data-bs-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                     data-bs-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Next</span>
              </button>
       </div>
</div>














<div class="container py-3" id="hood">
       <div class="title h1 text-center text-white">What is Updates Mtaani?</div>
       <!-- Card Start -->
       <div class="card">
              <div class="row ">

                     <div class="col-md-7 px-3">
                            <div class="card-block px-6">
                                   <h4 class="card-title text-center">Updates Mtaani </h4>
                                   <p style="margin-top:30px" class="card-text">
                                          If you are like me, You really do not know what is happening in your
                                          neighborhood most of the time. What if
                                          an important meeting happens, theft or even death would you not like to know
                                          about it. Updates Mtaani is a
                                          web application that allows you to be in the loop about everything happening
                                          in your neighborhood. From
                                          contact information of different handyman to meeting announcements or even
                                          alerts.
                                   </p>
                                   {% comment %} <br>
                                   <a href="#" class="mt-auto btn btn-primary  ">Read More</a> {% endcomment %}
                            </div>
                     </div>
                     <!-- Carousel start -->
                     <div class="col-md-5" height="50vh">
                            <div id="CarouselTest" class="carousel slide carousel slide carousel-fade"
                                   data-ride="carousel">
                                   <ol class="carousel-indicators">
                                          <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
                                          <li data-target="#CarouselTest" data-slide-to="1"></li>
                                          <li data-target="#CarouselTest" data-slide-to="2"></li>

                                   </ol>
                                   <div class="carousel-inner">
                                          <div class="carousel-item active">
                                                 <img class="d-block"
                                                        src="https://user-images.githubusercontent.com/66039545/174457104-f127048e-ba31-4d2c-990b-d94994b8e2e0.jpg"
                                                        alt="" width="100%" height="350">
                                          </div>
                                          <div class="carousel-item">
                                                 <img class="d-block"
                                                        src="https://user-images.githubusercontent.com/66039545/174457112-11e6513e-b5bf-46ce-8336-ed449e8e5b92.jpg"
                                                        alt="" width="100%" height="350">
                                          </div>
                                          <div class="carousel-item">
                                                 <img class="d-block"
                                                        src="https://user-images.githubusercontent.com/66039545/174457122-2de011c2-fce8-4d55-af61-42b6cf48ace0.jpg"
                                                        alt="" width="100%" height="350">
                                          </div>
                                          <a class="carousel-control-prev" href="#CarouselTest" role="button"
                                                 data-slide="prev">
                                                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                 <span class="sr-only">Previous</span>
                                          </a>
                                          <a class="carousel-control-next" href="#CarouselTest" role="button"
                                                 data-slide="next">
                                                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                 <span class="sr-only">Next</span>
                                          </a>
                                   </div>
                            </div>
                     </div>
                     <!-- End of carousel -->
              </div>
       </div>
       <!-- End of card -->

</div>

{% for hood in object_list %}
<div class="container">
       <div class="card mb-5">
              <div class="row ">

                     <div class="col-sm-7">
                            <div class="card-block">
                                   <!--           <h4 class="card-title">Small card</h4> -->
                                   <h4>{{hood.name}}</h4>
                                   <p>{{hood.description}}</p>
                                   <a href="#" class="btn btn-primary btn-sm">Join Neighborhood</a>
                            </div>
                     </div>

                     <div class="col-sm-5">
                            <img class="d-block w-100" src="{{hood.photo.url}}" alt="" width="200" height="200" />
                     </div>
              </div>
       </div>
{% endfor %}
{% endblock %}