{% extends 'base.html'%}
{% load bootstrap5 %}
{% load static%}
{%block content%}

{% for post in object_list %}
<div style="margin-top:200px;" class="container">
  <div class="card">
    <div class="row ">

      <div class="col-sm-7">
        <div class="card-block">
          <!--           <h4 class="card-title">Small card</h4> -->
          <h4>{{post.title}}</h4>
          <p>{{post.post}}</p>
          <p class="text-muted">Posted by: {{post.user}}</p>
          <p class="text-muted">Posted on: {{post.created_on}}</p>
          <a href="#" class="btn btn-primary btn-sm">{{post.neighbourhood}}</a>
        </div>
      </div>

      <div class="col-sm-5">
        <img class="d-block w-100" src="{{post.photo.url}}" alt="" width="200" height="255" />
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}







